.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cart-container {
  display: flex;
  min-height: 15rem;
  max-width: 50rem;
  padding-left: 1.5rem;
  border-radius: 1.1rem;
  line-height: 0.5;
  border: 2px solid rgb(173, 173, 173);
}

.btn {
  font-size: x-small;
  width: max-content;
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: rgb(180, 71, 71);
}

.btn:hover {
  background-color: brown;
}

.btn-buy {
  align-self: flex-end;
}